<div class="container">
  <div class="page-header">
    <h1>Manage Employees</h1>
  </div>
  <button *ngIf="showAddButton" class="btn btn-default" (click)="toggleAdd()">Add</button>
  
  <div *ngIf="showAdd" class="row">
    <div class="col-md-12">
      <h2>Add New Employee</h2>
      <form>
        <div class="form-group">
          <label for="name">Employee Name</label>
          <input id="name" type="text" name="name" class="form-control" [(ngModel)]="employee.name" placeholder="Employee Name"> 
        </div>
        <button type="button" class="btn btn-primary" (click)="add()">Add Employee</button>
      </form>
    </div>
  
  </div>

  <div *ngIf="showEdit" class="row">
    <div class="col-md-12">
      <h2>Edit Employee</h2>
      <form>
        <div class="form-group">
          <label for="id">Id</label>
          <input id="id" type="text" name="id" class="form-control" [(ngModel)]="employee.id" placeholder="Employee Id"> 
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" type="text" name="name" class="form-control" [(ngModel)]="employee.name" placeholder="Employee Name"> 
        </div>
        <div class="form-group">
          <label for="mobile">Mobile</label>
          <input id="mobile" type="text" name="mobile" class="form-control" [(ngModel)]="employee.mobile" placeholder="Employee Mobile"> 
        </div>
        <button type="button" class="btn btn-primary" (click)="update()">Update Employee</button>
      </form>
    </div>
  
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2>Employees</h2>
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th></th>
        </tr>
        <tr *ngFor="let employee of employees" (click)="load(employee)">
          <td>{{employee.id}} </td>
          <td>{{employee.name}} </td>
          <td>
            <button type="button" class="btn btn-default" (click)="delete(employee)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
          </td>
        </tr>
      </table>      
    </div>
  </div>
</div>